.radio-title {
    font-family: "Times New Roman", Times, serif;
}

#stationCarouselInner {
    background-color: #ffa500;
    background-image: url("../images/purty_wood.webp");
    color: #000;
    border: 0.7rem solid #000;
    border-radius: 100px;
    padding: 5%;
}

.playerControl {
    font-size: 2rem;
    cursor: pointer;
}

.slider {
    width: 100px;
    accent-color: #000;
}

.stationCarouselControlsStatic {
    /*border: 1px solid #000;*/
    width: 90%;
    position: absolute;
    bottom: 6%;
}

.marquee {
    overflow: hidden;
}

.marquee > * {
    white-space: nowrap;
}